* text=auto

*.tex text eol=lf
*.cls text eol=lf
*.bib text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.latexmkrc text eol=lf
Makefile text eol=lf

*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gz binary
